<!-- formulário de cadastro do carro -->
<div class="row">
  <h6>Cadastre um novo carro:</h6>
  <%= form_for @car, url: {action: "create"}, class: "col s12" do |c|  %>
    <div class="row">
      <!-- Modelo do carro -->
      <div class="input-field col s6">
        <%= c.text_field :model, placeholder: "Clio, Fiesta, Celta... etc.", id: "model" %>
        <%= c.label :model, "Modelo" %>
      </div>
      <!-- Moto ou carro? -->
      <label>Tipo</label>
      <div class="input-field col s6">
        <%= select_tag "carro_ou_moto", '<option value="disabled=">Escolha uma opção</option><option value="1">Carro</option><option value="2">Moto</option>'.html_safe, class: "browser-default" %>
      </div>
      <!-- fabricante -->
      <div class="input-field col s6">
        <%= c.text_field :manufacturer, placeholder: "Fiat, Ford, Renault, Audi... etc." %>
        <%= c.label :manufacturer, "Fabricante" %>
      </div>
      <!-- cor do carro -->
      <div class="input-field col s6">
        <%= c.text_field :color, placeholder: "Preto, Prata, Branco, Azul... etc." %>
        <%= c.label :color, "Cor" %>
      </div>
      <!-- placa do carro -->
      <div class="input-field col s12">
        <%= c.text_field :license, placeholder: "Ex: XBG 9573" %>
        <%= c.label :license, "Placa" %>
      </div>
    </div>
    
    <button class="btn waves-effect waves-light" type="submit" name="create">Enviar
      <i class="material-icons right">send</i>
    </button>
  <% end %>
</div>
